pkgbase = mopidy-listenbrainz
	pkgdesc = Mopidy extension for scrobbling played tracks to listenbrainz
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/suaviloquence/mopidy-listenbrainz
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = mopidy
	depends = python
	depends = python-musicbrainzngs
	depends = python-pykka
	depends = python-requests
	depends = python-setuptools
	source = mopidy-listenbrainz-0.3.0.tar.gz::https://github.com/suaviloquence/mopidy-listenbrainz/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = df6695faff53ca359ccdb560284904f8d85c6761c4593cc320061f5ef880460c

pkgname = mopidy-listenbrainz
